/* index.css */
@import "tailwindcss";

/* 캘린더 */
/* 전체 박스 */
div .react-calendar {
  @apply w-[550px] rounded-3xl bg-[#E7F0FF] p-6 shadow-lg;
  font-family: sans-serif;

  max-width: 550px;
  height: 520px;

  display: flex;
  flex-direction: column;

  border: none;
  box-shadow: 0_4px_5px_2px_rgba (0, 0, 0, 0.15);
}

/* 요일 헤더 */
div .react-calendar__month-view__weekdays {
  @apply text-center text-sm font-semibold text-gray-700;
  border-bottom: 1px solid #afafaf;
  height: 48px;
  display: flex;
  align-items: center;
}

div .react-calendar__month-view__weekdays__weekday {
  @apply p-0;
}

/* 날짜 그리드 */
div .react-calendar__month-view__days {
  flex: 1;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  gap: 0;

  /* border-right: 1px solid #d0d0d0; */
  /* border-bottom: 1px solid #d0d0d0; */
}

/* 날짜 셀 */
div .react-calendar__tile {
  @apply text-center transition hover:bg-blue-100;

  height: 62px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 0.5rem;
  margin: 0;
}

/* 오늘 날짜 */
div .react-calendar__tile--now {
  background: none !important;
}
div .react-calendar__tile--now abbr {
  background: #bfdbfe;
  color: #1d4ed8;
  font-weight: bold;

  padding: 4px 4px;
  border-radius: 50%;
}

/* 선택된 날짜 */
/* div .react-calendar__tile--active {
  background: #bfdbfe;
  color: #1d4ed8;
  font-weight: bold;

  padding: 4px 4px;
  border-radius: 50%;
} */

/* 네비게이션 */
div .react-calendar__navigation {
  @apply mb-4 flex items-center justify-between;
  height: 40px;
}

/* 네비게이션 버튼 */
div .react-calendar__navigation button.react-calendar__navigation__label {
  background: none !important;
  box-shadow: none;
}

div .react-calendar__navigation button.react-calendar__navigation__label:hover {
  background: none !important;
}
div .react-calendar__navigation button {
  background: #e5e7eb;
  @apply rounded-full p-2 text-lg hover:bg-gray-200;
}

/* 주말 빨간색 제거 */
div .react-calendar__month-view__days__day--weekend {
  @apply text-gray-700;
}

div .react-calendar__month-view__days__day--neighboringMonth {
  @apply text-gray-300;
}

div .react-calendar__navigation button {
  background: #bddeff;
}

/* 스크롤바 */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
